.hide {
    display: none;
}




@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }


  #title {
      color: rgb(155, 56, 221);
  }

  #questions {
      color: rgb(117, 197, 71);
  }

  #instructions {
      color: blue; 
      
  }




